@import "tailwindcss";

:root {
  --background: #0a0a0a; /* Noir très profond, pas 100% noir */
  --foreground: #ededed; /* Blanc cassé pour ne pas brûler les yeux */
  --border: #262626;     /* Gris foncé pour les lignes */
}

body {
  background: var(--background);
  color: var(--foreground);
}

select option {
  background: var(--background);
  color: var(--foreground);
}

/* Scrollbar Global - Style Minimaliste & Moderne */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}